/*menu*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 400px;
  height: auto;
  font-size: 18px;
  font-family: sans-serif;


}

/*navigation*/
.header{
    display:none;
}

/*responsive header for max 400px*/
.responsive-header{
  width: 100%;
  height:17%;
  display: flex;
  background: #D6E9FE;
  z-index: 1;
  position: fixed;
  flex-direction: column;
  display: flex;
  align-items: center;
  /*border:1px solid black;*/
}

.mobile-logo{
  width: 95%;
}

.mobile-buttons{
  /*border:1px solid red;*/
}

/*sections*/

.section {
    display: flex;
    position: relative;
    width: 400px;
    height: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    /*border: 1px solid red;For debugging */
}

/*first section main header*/
.first-section {
    display: flex;
    position: relative;
    z-index: -1;
}
.banner {
  width:400px;
  margin:0;
  height: 100%;
  padding: 0;
  padding-top:129px;
}
.photo img {
    width: 400px;
    height: auto;
    display: flex;
    
}

/* second section boxes*/
.secomd-section{
    display:flex;
    flex-direction:column;
    width: 400px;
    height: auto;
    margin:0px;
    padding:0px;

}
.photo-grid-container {
  display: inline-grid;
  position: relative;
  justify-content: center;
  align-content:center;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #d6e9fe;
}

.photo-grid {
    display: flex;
    width: 80%;
    height: auto;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin:auto;
    /*border:1px solid green; For debugging */
}

.photo-grid-item {
  width: auto;
  height: auto;
}

.frist-item {
  order: 1;
}

.last-item {
  order: -1;
}

/*third section */
.illustration{
  margin:auto;
}
.illustration-img{
  display:flex;
  justify-content:center;
  align-content:center;
  padding: 3%;
  width: 90%;
  height: 95%;
  margin:auto;
}
.content {
  display: flex;
  margin: auto;
  position: relative;
  background-color: #EAEDF0;
  height: 350px;
  /*border:1px solid red; For debugging */
  align-items: center;
}

/*forth section -- tag boxes*/

.tagboxes {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #D6E9FE; /* Light blue */
    width: 400px;
    height: auto;
    padding-bottom: 4%;
    /* Light blue */
}
.grid-container{
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap:5px;
  padding-top:3%;
  padding-left:3%;
}
.grid-item {
    height:auto;
    width: auto;
    text-align: center;  
}
.column {
  width: 180px;
  height: auto;
  background-color: #b2D6ff;
  /*mediyım blue */

}
 /* tag box info */
.avatar {
  display: flex;
  width: 60px;
  height: 60px;
  margin: auto;
  margin-top:9%;
  margin-bottom: -12%;
  background-color: #D6E9FE;
}

.username {
  margin-top: 30px;
}

.comment {
  margin: 10px;
  overflow: hidden;
}

/*fifth section footer*/

.socialbar-container {
  color: #5995DA;
  background-color: #eaedf0;
  display: flex;
  justify-content: center;
}

.socialbar {
  height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  /*border: 1px solid #fff;*/
  background-color: #eaedf0;
  height: 200px;
  flex: 1;
}
/*
.signup {
  margin-left: auto;
}*/

.thirdtab {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 300px;
  max-width: 479px;
  max-height: 100%;
  background-color: #eaedf0;
  font-size: 4vh;
}

.connect-sect {
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  line-height: 45px;
  align-items: center;
}

.connect-pic {
  width: 90px;
  height: auto;
}


/* media queries*/

@media only screen and (min-width:401px) and (max-width: 767px) {
    
    /*navigation */
    .responsive-header {
        display: none;
    }












    /*
    .mobile-logo {
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: center;
    }

    .mobile-logo-img {
        width: 75%;
    }

    .mobile-buttons {
        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content: space-between;
        width: 80%;
    }

    .mobile-anq {
        display: flex;
        flex-direction: column;
    }

    .mobile-icons {
        width: 40px;
        height: 40px;
    }

    .b1 {
        display: flex;
        justify-content: flex-start;
        margin-left: 10px;
    }

    .b4 {
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
    }

    .mobile-anq::before {
    }

    .mobile-anq::after {
        transition: 0.3;
    }
}*/


/* max width 401px to 767px */

@media only screen and (min-width: 401px) and (max-width: 767px) {

    .first-item,
    .second-item,
    .third-item,
    .fourth-item,
    .fifth-item {

    }
    .header {
      position: sticky;
      display: none;
      justify-content: space-between;
      width: 100%;
      padding: 50px;
      background: #D6E9FE;
      z-index: 1;
    }

    a:link,
    a:visited {
      color: #5D6063;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
    /*header section navigation*/



    .menu {
      margin-top: 15px;

    }

    .menu > li {
      display: inline;
      margin-right: 50px;
    }

    .menu>li:last-of-type {
      margin-right: 0;
    }

    .dropdown {
      position: relative;
    }

    .dropdown>span {
      z-index: 2;
      position: relative;
      cursor: pointer;
    }

    .dropdown:hover .about-menu {
      z-index: 1;
      display: flex;
      flex-direction: column;
      background: #B2D6FF;
      border-radius: 5px;
      padding-top: 60px;
      position: absolute;
      top: -25px;
      left: -30px;
    }

    .about-menu {
      display: none;
    }

    .about-menu>li {
      list-style: none;
      /* border-bottom: 1px solid #fff; For debugging */
      padding: 0 40px 10px 20px;
      margin: 10px;
    }

    .about-menu>li:last-of-type {
      border-bottom: none;
    }


    .photo-grid-container {
      display: flex;
      position: relative;
      justify-content: center;
      margin: auto;
      padding: 1.5%;
      background-color: #d6e9fe;
    }

    .photo-grid {
      width: 25%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;
      flex-direction: row;
      margin:auto;
      padding: 0px;
      /* border:1px solid green; For debugging */
    }

    .photo-grid-item {
      width: 300px;
      height: 300px;
      border:1px solid black;
    }


  }

/*destop styles */
@media only screen and (min-width: 768px) and (max-width:  961px) {


  a:link,
  a:visited {
    color: #5D6063;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  /*header section navigation*/



  .menu {
    margin-top: 15px;

  }

  .menu > li {
    display: inline;
    margin-right: 50px;
  }

  .menu>li:last-of-type {
    margin-right: 0;
  }

  .dropdown {
    position: relative;
  }

  .dropdown>span {
    z-index: 2;
    position: relative;
    cursor: pointer;
  }

  .dropdown:hover .about-menu {
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: #B2D6FF;
    border-radius: 5px;
    padding-top: 60px;
    position: absolute;
    top: -25px;
    left: -30px;
  }

  .about-menu {
    display: none;
  }

  .about-menu>li {
    list-style: none;
    /* border-bottom: 1px solid #fff; For debugging */
    padding: 0 40px 10px 20px;
    margin: 10px;
  }

  .about-menu>li:last-of-type {
    border-bottom: none;
  }


  .first-item,
  .second-item,
  .third-item {
    width: 33.3%;
  }

  .content {
    order: 2;
  }
}
  