/*menu*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 1200px;
  font-size: 18px;
  font-family: sans-serif;
  color: #5D6063;
}

a:link,
a:visited {
  color: #5D6063;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px;
  background: #D6E9FE;
  z-index: 1;
}

.menu {
  margin-top: 15px;
}

.menu>li {
  display: inline;
  margin-right: 50px;
}

.menu>li:last-of-type {
  margin-right: 0;
}

.dropdown {
  position: relative;
}

.dropdown>span {
  z-index: 2;
  position: relative;
  cursor: pointer;
}

.dropdown:hover .about-menu {
  z-index: 1;
  display: flex;
  flex-direction: column;
  background: #B2D6FF;
  border-radius: 5px;
  padding-top: 60px;
  position: absolute;
  top: -25px;
  left: -30px;
}

.about-menu {
  display: none;
}

.about-menu>li {
  list-style: none;
  border-bottom: 1px solid #fff;
  padding: 0 40px 10px 20px;
  margin: 10px;
}

.about-menu>li:last-of-type {
  border-bottom: none;
}

/*body section*/
.main-section {
  display: flex;
  position: relative;
  top: 0px;
  margin-bottom: 150px;
  z-index: -1;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

/*first photo*/
.section {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 1px solid red;

}
.photo img {
  width: 100%;
  display: block;
}
/*boxes*/
.photo-grid-container {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0;

}

.photo-grid {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  position: relative;
  flex-direction: row;
  align-items: center;
  border:1px solid green;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}

.frist-item {
  order: 1;
}

.last-item {
  order: -1;
}

/*second picture boxes*/
.content {
  display: flex;
  margin: 0;
  padding-bottom: 25px;
  position: relative;
  top: 375px;
  botton:150px;
  background-color: #EAEDF0;
  height: 250px;
  border:1px solid red;
}

/*tag boxes*/
.column {
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 160px;
  background-color: #b2D6ff;
  /*mediyım blue */
}

.tagboxes {
  position:relative;
background-color: #D6E9FE;
  /* Light blue */
}

.avatar {
  float: left;
  width: 60px;
  height: 60px;
  margin: 25px;
  border-radius: 40px;
  background-color: #D6E9FE;
}

.username {
  margin-top: 30px;
}

.comment {
  margin: 10px;
  overflow: hidden;
}

/*footer*/
.login-container {
  color: #fff;
  background-color: #5995DA;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.login-box {
  border: 1px solid #fff;
  /* For debugging */
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.links {
  border: 1px solid #fff;
  /* For debugging */
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.socialbar-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.socialbar {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social,
.subscribe {
  align-self: flex-end;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}

.footer-three {
  flex: 2;
}

.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}

.signup {
  margin-left: auto;
}

/*mobile styles */
@media only screen and (max-width:400px) {
  body {
    background-color: #F09A9D;
    /*red*/
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

  .first-item,
  .second-item,
  .third-item,
  .fourth-item,
  .fifth-item {
    width: 50%;
  }
}

/*destop styles */
@media only screen and (min-width: 961px) {

  .first-item,
  .second-item,
  .third-item {
    width: 33.3%;
  }

  .content {
    order: 2;
  }
}
