/*------------------------------------------------------------------*/
                          /*universal*/
/*------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  font-size: 18px;
  font-family: sans-serif;
}

/*------------------------------------------------------------------*/
                        /*navigation*/
/*------------------------------------------------------------------*/
.header {
  display: none;
}

/*responsive header for max 400px*/
.responsive-header {
  width: 100%;
  height: 21%;
  display: flex;
  background: #D6E9FE;
  z-index: 1;
  position: fixed;
  flex-direction: column;
  display: flex;
  align-items: center;
  /*border:1px solid black;*/
}

.mobile-logo {
  width: 100%;
  margin: 0;
}

.mobile-logo img {
  display: flex;
  width: 95%;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  padding: 3%;
}

.mobile-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  margin: auto;
  align-content: center;
  align-items: center;
  /*border:1px solid red;*/
}

.mobile-buttons img {
  width: 40px;
  height: 40px;
}

/*------------------------------------------------------------------*/
                            /*sections*/
/*------------------------------------------------------------------*/
.section {
  display: flex;
  position: relative;
  width: 400px;
  height: 100%;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  /*border: 1px solid red;For debugging */
}

/*------------------------------------------------------------------*/
                    /*first section main header*/
/*------------------------------------------------------------------*/
.first-section {
  display: flex;
  position: relative;
  z-index: -1;
}

.banner {
  width: 400px;
  margin: 0;
  height: 100%;
  padding: 0;
  padding-top: 129px;
}

.photo img {
  width: 400px;
  height: auto;
  display: flex;
}

/*------------------------------------------------------------------*/
                    /* second section boxes*/
/*------------------------------------------------------------------*/
.secomd-section {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.photo-grid-container {
  display: inline-grid;
  position: relative;
  justify-content: center;
  align-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #d6e9fe;
}

.photo-grid {
  display: flex;
  width: 80%;
  height: auto;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: auto;
  /*border:1px solid green; For debugging */
}

.photo-grid-item {
  width: auto;
  height: auto;
}

.frist-item {
  order: 1;
}

.last-item {
  order: -1;
}

/*------------------------------------------------------------------*/
                        /*third section */
/*------------------------------------------------------------------*/
.illustration {
  margin: auto;
}

.illustration-img {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 3%;
  width: 90%;
  height: 95%;
  margin: auto;
}

.content {
  display: flex;
  margin: auto;
  position: relative;
  background-color: #EAEDF0;
  height: 350px;
  /*border:1px solid red; For debugging */
  align-items: center;
}

/*------------------------------------------------------------------*/
                    /*forth section -- tag boxes*/
/*------------------------------------------------------------------*/
.tagboxes {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #D6E9FE;
  /* Light blue */
  width: 400px;
  height: auto;
  padding-bottom: 4%;
  /* Light blue */
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  padding-top: 3%;
  padding-left: 3%;
}

.grid-item {
  height: auto;
  width: auto;
  text-align: center;
}

.column {
  width: 180px;
  height: auto;
  background-color: #b2D6ff;
  /*mediyım blue */
}

/* tag box info */
.avatar {
  display: flex;
  width: 60px;
  height: 60px;
  margin: auto;
  margin-top: 9%;
  margin-bottom: -12%;
  background-color: #D6E9FE;
}

.username {
  margin-top: 30px;
}

.comment {
  margin: 10px;
  overflow: hidden;
}

/*------------------------------------------------------------------*/
                      /*fifth section footer*/
/*------------------------------------------------------------------*/
.socialbar-container {
  color: #5995DA;
  background-color: #eaedf0;
  display: flex;
  justify-content: center;
}

.socialbar {
  height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  /*border: 1px solid #fff;*/
  background-color: #eaedf0;
  height: 200px;
  flex: 1;
}

.thirdtab {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 300px;
  max-width: 479px;
  max-height: 100%;
  background-color: #eaedf0;
  font-size: 4vh;
}

.connect-sect {
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  line-height: 45px;
  align-items: center;
}

.connect-pic {
  width: 90px;
  height: auto;
}

/*------------------------------------------------------------------*/
                      /* media queries*/
/*------------------------------------------------------------------*/
@media only screen and (min-width:401px)and (max-width: 767px) {

  /*navigation */


  .responsive-header {
    display: none;
  }

  .header {
    display: flex;
    width: 100%;
    padding: 5%;
    background: #D6E9FE;
    z-index: 1;
    margin: 0;

  }

  .navigation-menu {
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
    margin-top:5%;
  }

  a:link,
  a:visited {
    color: #5D6063;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .menu {
    display: inline-flex;
    flex-direction: row;
    margin-top: 15%;
    margin: 9%;
    text-align: center;
  }

  .menu>li {
    display: inline;
    margin-right: 25px;
  }

  .menu>li:last-of-type {
    margin-right: 0;
  }

  .dropdown {
    position: relative;
    padding: auto;
  }

  .dropdown>span {
    z-index: 2;
    position: relative;
    cursor: pointer;
  }

  .arrowb{
    margin: 40%;
  }

  .dropdown:hover .about-menu {
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: #B2D6FF;
    border-radius: 5px;
    padding-top: 60px;
    position: absolute;
    top: -27px;
    left:-8px;
    text-align: center;
  }

  .about-menu {
    display: none;
  }

  .about-menu>li {
    list-style: none;
    /* border-bottom: 1px solid #fff; For debugging */
    padding: 0 40px 10px 20px;
    margin:0;
    align-items: center;
    text-align: center;
    margin-top:3%;
    padding-left:32%;
    border: 1px solid red;
  }
  .about-menu>.first-li{
    margin-top: 10%;

  }
  .about-menu>.last-li{
text-align: center;

  }
  .about-menu>li:last-of-type {
    border-bottom: none;
  }

  .logo-img {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: auto;
    padding-bottom: 2%;
  }
/*------------------------------------------------------------------*/
